.photo-list__item {
  margin: 24px;
  padding: 8px;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
  max-width: fit-content;
}

.photo-list__image {
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.photo-list__image {
  border-radius: 8px 8px 0px 0px;
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.photo-list__user-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.photo-list__user-details {
  display: flex;
}

.photo-list__user-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
}

.photo-list__user-location {
  color: #838383;
}

// .photo-list__item {
//   position: relative;
//   margin-bottom: 20px; /* Adjust spacing as necessary */
//   display: flex; /* To handle the layout if needed */
//   // flex-direction: column;
//   // align-items: center; /* Center items horizontally */
// }

// .photo-list__image {
//   width: 100%; /* Ensure the image takes full width */
//   max-width: 400px; /* Adjust to your desired size */
//   border-radius: 8px; /* Slight rounded corners */
// }

// .photo-list__user-details {
//   display: flex;
//   align-items: center; /* Align profile image and text vertically */
//   margin-top: 10px; /* Space between photo and user details */
// }

// .photo-list__user-profile {
//   width: 40px; /* Size of the profile picture */
//   height: 40px;
//   border-radius: 50%;
//   margin-right: 10px; /* Space between profile picture and text */
//   border: 2px solid #fff; /* Optional: Border for profile picture */
// }

// .photo-list__user-info {
//   display: flex;
//   flex-direction: column;
// }

// .photo-list__user-info p {
//   margin: 0; /* Remove default paragraph margin */
// }

// .photo-list__user-location {
//   color: gray; /* Dimmed color for location */
//   font-size: 0.9em; /* Slightly smaller font */
// }