.photo-list__fav-icon {
  position: relative;
  top: 8px;
  right: -8px;
  cursor: pointer;
  margin-bottom: -30px;
  border-width: 0.1px;
  background-color: #EEEEEE;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%; /* updated for perfectly round borders */
  display: flex; /* Use flexbox to easily center the button content */
  align-items: flex-start; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.photo-list__fav-icon-svg {
  padding-top: 2px;
  padding-left: 1px;
  
}

button {
  background: none; /* Remove default button styles */
  border: none; /* Remove default button borders */
  padding: 0; /* Remove unnecessary padding */
  cursor: pointer; /* Ensure cursor is a pointer when hovering over button */
  font-size: 1.5em; /* Make the heart icon bigger */
}